# Environment variables
.env

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Database files
*.db
*.sqlite3

# Logs
logs/
*.log

# Coverage reports
.coverage
htmlcov/

# IDE specific files
.vscode/
.idea/